*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

a{
    text-decoration: none;
}
a:hover{
text-decoration: none;
}

body,html{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* --------------------------------MAIN------------------------------ */
.container-fluid{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
main{
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.hash{
    cursor: pointer;
    /* color: blue; */
    border-bottom: 2px transparent #eee;
    border-bottom-width: 40%;
}

.main{
    box-sizing: border-box;
    width: 80%;
    max-width: 100%;
    margin: 0 10% 0 10%;
    color: black;
    height: inherit;
}
@media (max-width:600px)
{
    .main{
        width: 98%;
        margin: 0 1% 0 1%;
    }
}

.first{
    font-size: 1.3rem;
    line-height: 2rem;
    /* border: 1px solid red; */
    padding: 1.3rem;
    margin: 10px;
}



.social a{
    text-decoration: none;
    color: initial;
}

.team{
    box-sizing: border-box;
    height: 100vh;
    background-color: #eee;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}
.person{
    border: 2px solid red;
}
.person-image{
    width: 300px;
    height: 300px;
}