*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}a:hover{
text-decoration: none;
}
header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://ieee.vit.edu.in/assets/images/ai-1-2000x1317.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    

}
.side-nav{
    z-index: 1000;
}
nav{
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
}
.mob-social{
    border-top: 3px solid #eee;
    width: 100%;
    /* border: 1px solid red; */
    position: absolute;
    top: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    cursor: pointer;
}
.instagram:hover{
    color: #cd486b;
}
.facebook:hover{
    color: #3b5998;
}
.twitter:hover{
    color: #55acee;
}
.mob-social i{
    margin: 12px;
}
nav ul{
    color: black;
}

nav ul li a:hover{
    color:darkgray;
}

.intro{
    color: white;
    /* border: 5px solid whitesmoke; */
    width: 30%;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}
.down{
    color: whitesmoke;
    position: absolute;
    top: 89vh;
    cursor: pointer;
    opacity: 0.3;
}
.down:hover{
    opacity: 1;
}
.intro-name{
    font-weight: 900;
    cursor: pointer;
}


.dropdown-content li>a{
    color: whitesmoke;
}
.dropdown-content li>a:hover{
    background-color: #eee;
}
.dropdown-content{
    background-color: black;
    color: white;
    position: relative;
    top: -70px;
}

@media (max-width:993px)
{
    .dropdown-content{
        top: -30px;
        position: relative;
        background-color: white;
    }
    .dropdown-content li>a{
    color: lightslategray;
    }   
}

/* --------------------------------MAIN------------------------------ */
main{
    width: 100%;
    height: 100vh;
    padding: 30px;
    font-family: 'Rubik', sans-serif;
}

.main{
    /* border: 1px solid black; */
    width: 70%;
    max-width: 100%;
    margin: 0 15% 0 15%;
    color: black;
    height: inherit;
}
@media (max-width:600px)
{
    .main{
        width: 98%;
        margin: 0 1% 0 1%;
    }
}

.first{
    font-size: 1.3rem;
    line-height: 2rem;
    /* border: 1px solid red; */
    padding: 1.3rem;
    margin: 30px;
}