*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

a{
    text-decoration: none;
}
a:hover{
text-decoration: none;
}

body,html{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* --------------------------------MAIN------------------------------ */
.container-fluid{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
main{
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.hash{
    cursor: pointer;
    /* color: blue; */
    border-bottom: 2px transparent #eee;
    border-bottom-width: 40%;
}

.main{
    width: 80%;
    max-width: 100%;
    margin: 0 10% 0 10%;
    color: black;
    height: inherit;
}
@media (max-width:600px)
{
    .main{
        width: 98%;
        margin: 0 1% 0 1%;
    }
}

.first{
    font-size: 1.3rem;
    line-height: 2rem;
    /* border: 1px solid red; */
    padding: 1.3rem;
    margin: 10px;
}

.team{
    background-color: #eee;
    height: 100vh;
    width: 100%;
}
.main-team{
    width: 98%;
    margin: 8px 1% 0 1%;
    border: 1px solid blueviolet;
    height: 100vh;
    padding: 10px;
}

.person{
    border: 1px solid red;
}

.person img{
    padding: 5px 2.5% 5px 2.5%;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.social a{
    text-decoration: none;
    color: initial;
}